/${release-date-file}
/.checkstyle
/.pydevproject
/.settings
/javadoc
/output
/issue.info

.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.DS_Store
build/
captures/
*.iml
*.imi
